@media screen and (max-width: 1920px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

  .about-containers {
    flex-wrap: wrap;
  }

  #contact,
  #projects {
    height: fit-content;
  }
/* 
  .tranding-slider,
  .tranding-slide-img img {
    max-width: 60rem;
  } */
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }

  #profile,
  .section-container {
    display: block;
  }

  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 0 5%;
  }

  .picture-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .about-containers {
    margin-top: 0;
  }

  .container {
    width: fit-content;
  }

  .tranding-slider,
  .tranding-slide-img img {
    max-width: 50rem;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }

  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  article {
    font-size: 1rem;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  .experience-sub-title {
    font-size: 1.25rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section-text-p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }

  .linkedin-icon {
    margin-left: 1.5rem;
  }
  .container {
    width: fit-content;
  }

  .tranding-slider,
  .tranding-slide-img img {
    max-width: 30rem;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: fit-content;
  }
  .tranding-slider {
    max-width: 25rem;
  }

  .tranding-slide {
    max-width: 28rem;
    max-height: 36rem;
  }
  .tranding-slide .tranding-slide-img img {
    max-width: 28rem;
    max-height: 36rem;
  }
}
